body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
}

form {
  text-align: center;
  margin-bottom: 5%;
}

#animalForm {
  font-size: 20px;
}

#catFishForm {
  font-size: 20px;
}

#catTestingForm {
  font-size: 20px;
}

#zooSelectionForm {
  font-size: 20px;
}

button {
  font-size: 20px;

}

input {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

zooSelection {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
